checkboxes {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  span {
    margin-left: 10px;
  }