<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Mixer</title>
    <style>
        #range-display {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        input[type="range"] {
            width: 200px;
        }

        #color-display {
            font-size: 24px;
            margin-top: 10px;
        }

        main {
            width: 400px;
            height: 400px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <div id="range-display">
                <input id="red" type="range" step="1" min="0" max="255" v-model="red">
                <input id="green" type="range" step="1" min="0" max="255" v-model="green">
                <input id="blue" type="range" step="1" min="0" max="255" v-model="blue">
            </div>
            <div id="color-display">{{ hex }}</div>
        </header>
        <main :style="giveMeStyle"></main>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
</body>
</html>